# Walmart Sales Data Analysis
End-to-end data analysis project using Python and SQL.

In [15]:
# Import required libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import os

## Data Loading and Cleaning

In [16]:
# Load the data
df = pd.read_csv('data/Walmart.csv', encoding_errors='ignore')
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [ ]:
# Data exploration
df.shape, df.columns.tolist()

In [ ]:
# Data info and statistics
df.info()
df.describe(include='all')

In [ ]:
# Data cleaning
df.drop_duplicates(inplace=True)
df.dropna(inplace=True)

# Clean unit_price column
if df['unit_price'].dtype == object:
    df['unit_price'] = df['unit_price'].replace('[\$,]', '', regex=True).astype(float)

# Convert quantity to integer
if not np.issubdtype(df['quantity'].dtype, np.integer):
    df['quantity'] = df['quantity'].astype(int)

In [ ]:
# Feature engineering
df['total'] = df['unit_price'] * df['quantity']
df.head()

In [21]:
# Save cleaned data
df.to_csv('data/walmart_clean_data.csv', index=False)

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

## Database Setup

In [22]:
# SQLite setup (optional)
engine = create_engine('sqlite:///data/walmart.db')
df.to_sql('walmart', con=engine, if_exists='replace', index=False)

In [ ]:
# MySQL setup
from getpass import getpass

if not os.getenv('MYSQL_PASSWORD'):
    os.environ['MYSQL_PASSWORD'] = getpass('Enter your MySQL password: ')

In [26]:
# MySQL connection
MYSQL_USER = os.getenv('MYSQL_USER', 'root')
MYSQL_PASSWORD = os.getenv('MYSQL_PASSWORD', '')
MYSQL_HOST = os.getenv('MYSQL_HOST', 'localhost')
MYSQL_PORT = int(os.getenv('MYSQL_PORT', 3306))
MYSQL_DB = os.getenv('MYSQL_DB', 'walmart_db')

mysql_url = f"mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOST}:{MYSQL_PORT}/{MYSQL_DB}"
engine_mysql = create_engine(mysql_url)

df.to_sql('walmart', con=engine_mysql, if_exists='replace', index=False)
print('Data loaded into MySQL successfully!')

MYSQL_PASSWORD: chintan10
Data loaded into MySQL successfully!
Data loaded into MySQL successfully!

## Business Analysis Questions

### Q1: Payment Methods Analysis

In [36]:
query_q1 = """
SELECT 
    payment_method,
    COUNT(*) AS no_payments,
    SUM(quantity) AS no_qty_sold
FROM walmart
GROUP BY payment_method
ORDER BY no_payments DESC;
"""

result_q1 = pd.read_sql(query_q1, engine_mysql)
print("Q1 Results: Payment Methods and Sales")
display(result_q1)

Q1 Results: Payment Methods and Sales

  payment_method  no_payments  no_qty_sold
0    Credit card         4256       9567.0
1        Ewallet         3881       8932.0
2           Cash         1832       4984.0

Key Insights:
• Most popular payment method: Credit card (4256 transactions)
• Total payment methods available: 3
• Total transactions across all methods: 9969
• Total items sold across all methods: 23483.0

## Q2: Identify the Highest-Rated Category in Each Branch

**Business Question:** Which category received the highest average rating in each branch?

**Purpose:** Recognize and promote popular categories in specific branches, enhancing customer satisfaction and branch-specific marketing.

In [43]:
# Q2: Highest-Rated Category per Branch (Fixed with error handling)

# First, let's check if we have the required columns
try:
    columns_check = pd.read_sql("SHOW COLUMNS FROM walmart", engine_mysql)
    required_cols = ['branch', 'category', 'rating']
    available_cols = columns_check['Field'].tolist()
    missing_cols = [col for col in required_cols if col not in available_cols]
    
    if missing_cols:
        print(f"❌ Missing columns: {missing_cols}")
        print(f"Available columns: {available_cols}")
        raise Exception(f"Required columns missing: {missing_cols}")
    
    print("✓ All required columns available for Q2")
    
    # Use a simpler, more compatible query approach
    query_q2 = """
    SELECT 
        t1.branch, 
        t1.category, 
        t1.avg_rating
    FROM (
        SELECT 
            branch,
            category,
            ROUND(AVG(rating), 2) AS avg_rating
        FROM walmart
        WHERE branch IS NOT NULL AND category IS NOT NULL AND rating IS NOT NULL
        GROUP BY branch, category
    ) t1
    INNER JOIN (
        SELECT 
            branch,
            MAX(avg_rating) AS max_rating
        FROM (
            SELECT 
                branch,
                category,
                ROUND(AVG(rating), 2) AS avg_rating
            FROM walmart
            WHERE branch IS NOT NULL AND category IS NOT NULL AND rating IS NOT NULL
            GROUP BY branch, category
        ) sub
        GROUP BY branch
    ) t2 ON t1.branch = t2.branch AND t1.avg_rating = t2.max_rating
    ORDER BY t1.branch;
    """

    result_q2 = pd.read_sql(query_q2, engine_mysql)
    print("Q2 Results: Highest-Rated Category per Branch")
    display(result_q2)

    # Analysis
    print("\nKey Insights:")
    if len(result_q2) > 0:
        print(f"• Number of branches analyzed: {len(result_q2)}")
        for _, row in result_q2.iterrows():
            print(f"• Branch {row['branch']}: {row['category']} (Rating: {row['avg_rating']:.2f})")
        
        # Find most common top-rated category
        top_categories = result_q2['category'].value_counts()
        if len(top_categories) > 0:
            print(f"• Most frequently top-rated category: {top_categories.index[0]} ({top_categories.iloc[0]} branches)")
    else:
        print("• No results found - check data quality")

except Exception as e:
    print(f"❌ Error with Q2 query: {e}")
    print("Let's try a basic aggregation instead...")
    
    # Fallback: simple category ratings
    fallback_query = """
    SELECT 
        branch,
        category,
        ROUND(AVG(rating), 2) AS avg_rating,
        COUNT(*) AS transaction_count
    FROM walmart
    WHERE branch IS NOT NULL AND category IS NOT NULL AND rating IS NOT NULL
    GROUP BY branch, category
    ORDER BY branch, avg_rating DESC
    LIMIT 15;
    """
    
    fallback_result = pd.read_sql(fallback_query, engine_mysql)
    print("Fallback: Category Ratings by Branch (Top 15):")
    display(fallback_result)

❌ Missing columns: ['branch']
Available columns: ['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity', 'date', 'time', 'payment_method', 'rating', 'profit_margin', 'total']
❌ Error with Q2 query: Required columns missing: ['branch']
Let's try a basic aggregation instead...
Fallback: Category Ratings by Branch (Top 15):

     branch                category  avg_rating  transaction_count
0   WALM001  Electronic accessories        7.45                  2
1   WALM001       Sports and travel        6.53                  3
2   WALM001     Fashion accessories        6.36                 33
3   WALM001      Home and lifestyle        6.16                 36
4   WALM002      Food and beverages        8.25                  2
5   WALM002  Electronic accessories        8.12                  4
6   WALM002      Home and lifestyle        6.00                 29
7   WALM002     Fashion accessories        5.96                 29
8   WALM002       Sports and travel        5.60                  1
9   WALM003       Sports and travel        7.50                  2
10  WALM003       Health and beauty        7.05                  2
11  WALM003      Food and beverages        6.47                  3
12  WALM003  Electronic accessories        5.52                 17
13  WALM003      Home and lifestyle        5.46                 80
14  WALM003     Fashion accessories        5.12                 82

## Q3: Determine the Busiest Day for Each Branch

**Business Question:** What is the busiest day of the week for each branch based on transaction volume?

**Purpose:** Optimize staffing and inventory management to accommodate peak days.

In [39]:
# Q3: Busiest Day per Branch (Fixed with robust date handling)

# First, let's check the actual date format in our data
date_check_query = "SELECT date, COUNT(*) as count FROM walmart GROUP BY date LIMIT 5"
date_sample = pd.read_sql(date_check_query, engine_mysql)
print("Sample date formats in data:")
display(date_sample)

# Use a more robust query that handles different date formats
query_q3 = """
SELECT branch, day_name, no_transactions
FROM (
    SELECT 
        branch,
        CASE 
            WHEN date REGEXP '^[0-9]{4}-[0-9]{2}-[0-9]{2}$' THEN DAYNAME(date)
            WHEN date REGEXP '^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4}$' THEN DAYNAME(STR_TO_DATE(date, '%m/%d/%Y'))
            WHEN date REGEXP '^[0-9]{1,2}/[0-9]{1,2}/[0-9]{2}$' THEN DAYNAME(STR_TO_DATE(date, '%m/%d/%y'))
            ELSE DAYNAME(STR_TO_DATE(date, '%d/%m/%Y'))
        END AS day_name,
        COUNT(*) AS no_transactions,
        RANK() OVER(PARTITION BY branch ORDER BY COUNT(*) DESC) AS rank
    FROM walmart
    GROUP BY branch, day_name
) AS ranked
WHERE rank = 1 AND day_name IS NOT NULL;
"""

try:
    result_q3 = pd.read_sql(query_q3, engine_mysql)
    print("Q3 Results: Busiest Day per Branch")
    display(result_q3)

    # Analysis
    print("\nKey Insights:")
    print(f"• Number of branches analyzed: {len(result_q3)}")
    for _, row in result_q3.iterrows():
        print(f"• Branch {row['branch']}: Busiest on {row['day_name']} ({row['no_transactions']} transactions)")
        
    # Find most common busiest day
    busiest_days = result_q3['day_name'].value_counts()
    if len(busiest_days) > 0:
        print(f"• Most common busiest day across branches: {busiest_days.index[0]} ({busiest_days.iloc[0]} branches)")

except Exception as e:
    print(f"❌ Error with Q3 query: {e}")
    print("Let's try a simpler approach...")
    
    # Fallback: simpler query without complex date parsing
    simple_query = """
    SELECT 
        branch,
        date,
        COUNT(*) AS no_transactions
    FROM walmart
    GROUP BY branch, date
    ORDER BY branch, no_transactions DESC
    LIMIT 10;
    """
    
    fallback_result = pd.read_sql(simple_query, engine_mysql)
    print("Fallback: Top transaction days by branch:")
    display(fallback_result)

Sample date formats in data:

       date  count
0  05/01/19     12
1  08/03/19     11
2  03/03/19     14
3  27/01/19     14
4  08/02/19     12

❌ Error with Q3 query: unsupported format character 'm' (0x6d) at index 267
Let's try a simpler approach...
Fallback: Top transaction days by branch:

    branch      date  no_transactions
0  WALM001  26/12/20                2
1  WALM001  22/03/19                2
2  WALM001  04/01/19                1
3  WALM001  25/07/22                1
4  WALM001  19/05/21                1
5  WALM001  25/01/22                1
6  WALM001  09/09/20                1
7  WALM001  09/12/20                1
8  WALM001  10/07/22                1
9  WALM001  11/02/21                1

## Q4: Calculate Total Quantity Sold by Payment Method

**Business Question:** How many items were sold through each payment method?

**Purpose:** Track sales volume by payment type, providing insights into customer purchasing habits.

In [40]:
# Q4: Total Quantity Sold by Payment Method
query_q4 = """
SELECT 
    payment_method,
    SUM(quantity) AS no_qty_sold
FROM walmart
GROUP BY payment_method
ORDER BY no_qty_sold DESC;
"""

result_q4 = pd.read_sql(query_q4, engine_mysql)
print("Q4 Results: Total Quantity Sold by Payment Method")
display(result_q4)

# Analysis
print("\nKey Insights:")
total_qty = result_q4['no_qty_sold'].sum()
print(f"• Total items sold across all payment methods: {total_qty:,}")
for _, row in result_q4.iterrows():
    percentage = (row['no_qty_sold'] / total_qty) * 100
    print(f"• {row['payment_method']}: {row['no_qty_sold']:,} items ({percentage:.1f}%)")

Q4 Results: Total Quantity Sold by Payment Method

  payment_method  no_qty_sold
0    Credit card       9567.0
1        Ewallet       8932.0
2           Cash       4984.0

Key Insights:
• Total items sold across all payment methods: 23,483.0
• Credit card: 9,567.0 items (40.7%)
• Ewallet: 8,932.0 items (38.0%)
• Cash: 4,984.0 items (21.2%)

## Q5: Analyze Category Ratings by City

**Business Question:** What are the average, minimum, and maximum ratings for each category in each city?

**Purpose:** Guide city-level promotions, allowing Walmart to address regional preferences and improve customer experiences.

In [44]:
# Q5: Category Ratings by City
query_q5 = """
SELECT 
    city,
    category,
    MIN(rating) AS min_rating,
    MAX(rating) AS max_rating,
    AVG(rating) AS avg_rating
FROM walmart
GROUP BY city, category
ORDER BY city, avg_rating DESC;
"""

result_q5 = pd.read_sql(query_q5, engine_mysql)
print("Q5 Results: Category Ratings by City")
display(result_q5)

# Analysis
print("\nKey Insights:")
cities = result_q5['city'].unique()
print(f"• Number of cities analyzed: {len(cities)}")
print(f"• Number of categories analyzed: {len(result_q5['category'].unique())}")

# Find best and worst rated categories per city
for city in cities:
    city_data = result_q5[result_q5['city'] == city]
    best = city_data.iloc[0]  # Already sorted by avg_rating DESC
    worst = city_data.iloc[-1]
    print(f"• {city}: Best = {best['category']} ({best['avg_rating']:.2f}), Worst = {worst['category']} ({worst['avg_rating']:.2f})")

Q5 Results: Category Ratings by City

        city                category  min_rating  max_rating  avg_rating
0    Abilene       Health and beauty         9.7         9.7    9.700000
1    Abilene  Electronic accessories         7.1         8.8    7.966667
2    Abilene      Food and beverages         6.0         8.9    6.950000
3    Abilene     Fashion accessories         4.0         9.0    6.240625
4    Abilene      Home and lifestyle         4.0         9.0    6.096875
..       ...                     ...         ...         ...         ...
508  Weslaco       Health and beauty         4.3         9.2    6.750000
509  Weslaco       Sports and travel         4.1         7.1    5.600000
510  Weslaco      Home and lifestyle         3.0         9.2    5.183505
511  Weslaco  Electronic accessories         3.0         8.4    5.078261
512  Weslaco     Fashion accessories         3.0         9.5    5.042012

[513 rows x 5 columns]

Key Insights:
• Number of cities analyzed: 98
• Number of categories analyzed: 6
• Abilene: Best = Health and beauty (9.70), Worst = Home and lifestyle (6.10)
• Alamo: Best = Health and beauty (7.95), Worst = Food and beverages (5.20)
• Alice: Best = Food and beverages (7.67), Worst = Fashion accessories (5.93)
• Allen: Best = Fashion accessories (6.59), Worst = Sports and travel (5.50)
• Amarillo: Best = Electronic accessories (6.83), Worst = Health and beauty (5.10)
• Angleton: Best = Food and beverages (7.70), Worst = Health and beauty (5.10)
• Arlington: Best = Food and beverages (7.55), Worst = Electronic accessories (5.17)
• Austin: Best = Food and beverages (9.30), Worst = Electronic accessories (5.50)
• Baytown: Best = Sports and travel (6.45), Worst = Health and beauty (5.00)
• Bedford: Best = Health and beauty (8.15), Worst = Food and beverages (5.05)
• Big Spring: Best = Health and beauty (7.72), Worst = Home and lifestyle (6.16)
• Brownsville: Best = Sports and travel (9.10), Worst = Home and lifestyle (6.42)
• Brownwood: Best = Sports and travel (8.13), Worst = Fashion accessories (6.31)
• Bryan: Best = Sports and travel (7.25), Worst = Home and lifestyle (6.40)
• Burleson: Best = Electronic accessories (9.70), Worst = Food and beverages (4.80)
• Canyon: Best = Health and beauty (6.90), Worst = Fashion accessories (6.07)
• Carrollton: Best = Electronic accessories (8.70), Worst = Health and beauty (5.70)
• Cedar Park: Best = Food and beverages (8.47), Worst = Health and beauty (5.50)
• Cleburne: Best = Sports and travel (7.67), Worst = Health and beauty (4.88)
• College Station: Best = Health and beauty (10.00), Worst = Home and lifestyle (6.35)
• Conroe: Best = Sports and travel (8.00), Worst = Home and lifestyle (6.29)
• Coppell: Best = Sports and travel (9.60), Worst = Health and beauty (5.50)
• Corpus Christi: Best = Food and beverages (7.40), Worst = Electronic accessories (4.20)
• Dallas: Best = Food and beverages (8.25), Worst = Sports and travel (5.60)
• Del Rio: Best = Food and beverages (9.00), Worst = Home and lifestyle (5.78)
• Denton: Best = Health and beauty (6.85), Worst = Food and beverages (4.20)
• DeSoto: Best = Health and beauty (9.90), Worst = Home and lifestyle (5.97)
• Eagle Pass: Best = Sports and travel (9.60), Worst = Health and beauty (5.10)
• Edinburg: Best = Health and beauty (8.60), Worst = Home and lifestyle (6.03)
• El Paso: Best = Fashion accessories (6.80), Worst = Home and lifestyle (5.88)
• Euless: Best = Food and beverages (6.77), Worst = Sports and travel (5.70)
• Farmers Branch: Best = Electronic accessories (6.57), Worst = Food and beverages (6.05)
• Flower Mound: Best = Health and beauty (7.95), Worst = Food and beverages (5.50)
• Fort Worth: Best = Health and beauty (8.37), Worst = Fashion accessories (6.34)
• Friendswood: Best = Food and beverages (9.10), Worst = Electronic accessories (5.50)
• Frisco: Best = Electronic accessories (8.75), Worst = Sports and travel (6.15)
• Galveston: Best = Sports and travel (7.30), Worst = Food and beverages (5.10)
• Garland: Best = Health and beauty (7.45), Worst = Home and lifestyle (6.19)
• Georgetown: Best = Electronic accessories (8.32), Worst = Sports and travel (4.90)
• Grand Prairie: Best = Home and lifestyle (6.22), Worst = Electronic accessories (4.30)
• Grapevine: Best = Sports and travel (7.20), Worst = Home and lifestyle (6.06)
• Haltom City: Best = Sports and travel (9.70), Worst = Food and beverages (5.90)
• Harlingen: Best = Electronic accessories (9.60), Worst = Home and lifestyle (6.14)
• Houston: Best = Electronic accessories (7.45), Worst = Home and lifestyle (6.16)
• Huntsville: Best = Food and beverages (8.10), Worst = Electronic accessories (5.80)
• Hurst: Best = Food and beverages (9.10), Worst = Electronic accessories (5.55)
• Irving: Best = Health and beauty (7.60), Worst = Sports and travel (5.30)
• Kerrville: Best = Food and beverages (8.40), Worst = Sports and travel (5.23)
• Killeen: Best = Food and beverages (8.33), Worst = Fashion accessories (6.03)
• La Porte: Best = Sports and travel (7.17), Worst = Home and lifestyle (5.77)
• Lake Jackson: Best = Health and beauty (7.20), Worst = Home and lifestyle (6.16)
• Lancaster: Best = Sports and travel (8.10), Worst = Fashion accessories (5.81)
• Laredo: Best = Electronic accessories (9.00), Worst = Home and lifestyle (6.26)
• League City: Best = Sports and travel (9.35), Worst = Fashion accessories (5.84)
• Lewisville: Best = Electronic accessories (7.57), Worst = Food and beverages (4.40)
• Little Elm: Best = Electronic accessories (6.25), Worst = Sports and travel (5.00)
• Longview: Best = Food and beverages (9.03), Worst = Home and lifestyle (6.11)
• Lubbock: Best = Food and beverages (7.00), Worst = Electronic accessories (4.30)
• Lufkin: Best = Food and beverages (8.60), Worst = Fashion accessories (5.98)
• Mansfield: Best = Electronic accessories (7.75), Worst = Fashion accessories (6.05)
• McAllen: Best = Sports and travel (7.20), Worst = Fashion accessories (5.79)
• McKinney: Best = Electronic accessories (7.00), Worst = Food and beverages (4.00)
• Mesquite: Best = Health and beauty (8.80), Worst = Home and lifestyle (5.97)
• Midland: Best = Health and beauty (8.00), Worst = Sports and travel (5.70)
• Mineral Wells: Best = Health and beauty (9.80), Worst = Sports and travel (4.80)
• Mission: Best = Food and beverages (8.00), Worst = Home and lifestyle (5.73)
• Missouri City: Best = Food and beverages (9.30), Worst = Fashion accessories (5.68)
• Nacogdoches: Best = Electronic accessories (7.20), Worst = Food and beverages (6.00)
• New Braunfels: Best = Sports and travel (8.90), Worst = Health and beauty (4.20)
• North Richland Hills: Best = Sports and travel (7.67), Worst = Fashion accessories (5.75)
• Odessa: Best = Food and beverages (8.00), Worst = Electronic accessories (4.60)
• Pasadena: Best = Electronic accessories (8.40), Worst = Fashion accessories (5.91)
• Pearland: Best = Home and lifestyle (6.66), Worst = Electronic accessories (4.70)
• Pflugerville: Best = Electronic accessories (7.90), Worst = Food and beverages (6.57)
• Pharr: Best = Health and beauty (9.20), Worst = Electronic accessories (4.80)
• Plano: Best = Sports and travel (9.60), Worst = Home and lifestyle (5.17)
• Port Arthur: Best = Health and beauty (6.30), Worst = Electronic accessories (4.50)
• Richardson: Best = Sports and travel (8.60), Worst = Food and beverages (4.60)
• Rockwall: Best = Sports and travel (7.76), Worst = Home and lifestyle (5.11)
• Rosenberg: Best = Health and beauty (9.90), Worst = Home and lifestyle (5.03)
• Round Rock: Best = Food and beverages (8.90), Worst = Fashion accessories (5.09)
• Rowlett: Best = Electronic accessories (5.97), Worst = Home and lifestyle (4.71)
• San Angelo: Best = Sports and travel (9.30), Worst = Fashion accessories (4.87)
• San Antonio: Best = Sports and travel (7.50), Worst = Fashion accessories (5.12)
• San Marcos: Best = Sports and travel (7.90), Worst = Electronic accessories (4.79)
• Schertz: Best = Sports and travel (5.47), Worst = Electronic accessories (4.71)
• Seguin: Best = Food and beverages (9.60), Worst = Electronic accessories (5.06)
• Sherman: Best = Health and beauty (5.60), Worst = Electronic accessories (4.72)
• Southlake: Best = Sports and travel (8.90), Worst = Home and lifestyle (5.19)
• Sugar Land: Best = Sports and travel (8.50), Worst = Fashion accessories (5.18)
• Temple: Best = Food and beverages (7.30), Worst = Home and lifestyle (5.19)
• Texas City: Best = Health and beauty (6.53), Worst = Electronic accessories (4.57)
• Tyler: Best = Fashion accessories (5.54), Worst = Home and lifestyle (5.02)
• Victoria: Best = Electronic accessories (5.28), Worst = Home and lifestyle (5.00)
• Waco: Best = Food and beverages (8.40), Worst = Home and lifestyle (5.16)
• Waxahachie: Best = Food and beverages (7.50), Worst = Home and lifestyle (5.07)
• Weatherford: Best = Electronic accessories (5.95), Worst = Fashion accessories (4.95)
• Weslaco: Best = Food and beverages (8.73), Worst = Fashion accessories (5.04)

## Q6: Calculate Total Profit by Category

**Business Question:** What is the total profit for each category, ranked from highest to lowest?

**Purpose:** Identify high-profit categories to focus efforts on expanding these products or managing pricing strategies effectively.

In [45]:
# Q6: Total Profit by Category
query_q6 = """
SELECT 
    category,
    SUM(unit_price * quantity * profit_margin) AS total_profit
FROM walmart
GROUP BY category
ORDER BY total_profit DESC;
"""

result_q6 = pd.read_sql(query_q6, engine_mysql)
print("Q6 Results: Total Profit by Category")
display(result_q6)

# Analysis
print("\nKey Insights:")
total_profit = result_q6['total_profit'].sum()
print(f"• Total profit across all categories: ${total_profit:,.2f}")
print(f"• Number of profitable categories: {len(result_q6)}")

for i, row in result_q6.iterrows():
    percentage = (row['total_profit'] / total_profit) * 100
    print(f"• #{i+1} {row['category']}: ${row['total_profit']:,.2f} ({percentage:.1f}%)")

Q6 Results: Total Profit by Category

                 category  total_profit
0     Fashion accessories   192314.8932
1      Home and lifestyle   192213.6381
2  Electronic accessories    30772.4895
3      Food and beverages    21552.8622
4       Sports and travel    20613.8082
5       Health and beauty    18671.7345

Key Insights:
• Total profit across all categories: $476,139.43
• Number of profitable categories: 6
• #1 Fashion accessories: $192,314.89 (40.4%)
• #2 Home and lifestyle: $192,213.64 (40.4%)
• #3 Electronic accessories: $30,772.49 (6.5%)
• #4 Food and beverages: $21,552.86 (4.5%)
• #5 Sports and travel: $20,613.81 (4.3%)
• #6 Health and beauty: $18,671.73 (3.9%)

## Q7: Determine the Most Common Payment Method per Branch

**Business Question:** What is the most frequently used payment method in each branch?

**Purpose:** Understand branch-specific payment preferences, potentially allowing branches to streamline their payment processing systems.

In [51]:
# Q7: Most Common Payment Method per Branch (Fixed with error handling)

# First check if required columns exist
try:
    columns_check = pd.read_sql("SHOW COLUMNS FROM walmart", engine_mysql)
    required_cols = ['branch', 'payment_method']
    available_cols = columns_check['Field'].tolist()
    missing_cols = [col for col in required_cols if col not in available_cols]
    
    if missing_cols:
        print(f"❌ Missing columns for Q7: {missing_cols}")
        print(f"Available columns: {available_cols}")
        raise Exception(f"Required columns missing: {missing_cols}")
    
    print("✓ All required columns available for Q7")
    
    # Use a more compatible query without CTE and window functions
    query_q7 = """
    SELECT 
        t1.branch, 
        t1.payment_method AS preferred_payment_method,
        t1.total_trans
    FROM (
        SELECT 
            branch,
            payment_method,
            COUNT(*) AS total_trans
        FROM walmart
        WHERE branch IS NOT NULL AND payment_method IS NOT NULL
        GROUP BY branch, payment_method
    ) t1
    INNER JOIN (
        SELECT 
            branch,
            MAX(total_trans) AS max_trans
        FROM (
            SELECT 
                branch,
                payment_method,
                COUNT(*) AS total_trans
            FROM walmart
            WHERE branch IS NOT NULL AND payment_method IS NOT NULL
            GROUP BY branch, payment_method
        ) sub
        GROUP BY branch
    ) t2 ON t1.branch = t2.branch AND t1.total_trans = t2.max_trans
    ORDER BY t1.branch;
    """

    result_q7 = pd.read_sql(query_q7, engine_mysql)
    print("Q7 Results: Most Common Payment Method per Branch")
    display(result_q7)

    # Analysis
    print("\nKey Insights:")
    if len(result_q7) > 0:
        print(f"• Number of branches analyzed: {len(result_q7)}")
        for _, row in result_q7.iterrows():
            print(f"• Branch {row['branch']}: Prefers {row['preferred_payment_method']} ({row['total_trans']} transactions)")
        
        # Find most common preferred payment method
        preferred_methods = result_q7['preferred_payment_method'].value_counts()
        if len(preferred_methods) > 0:
            print(f"• Most commonly preferred payment method: {preferred_methods.index[0]} ({preferred_methods.iloc[0]} branches)")
    else:
        print("• No results found - check data quality")

except Exception as e:
    print(f"❌ Error with Q7 query: {e}")
    print("Let's try a simpler approach...")
    
    # Fallback: simple payment method counts
    fallback_query = """
    SELECT 
        branch,
        payment_method,
        COUNT(*) AS transaction_count
    FROM walmart
    WHERE branch IS NOT NULL AND payment_method IS NOT NULL
    GROUP BY branch, payment_method
    ORDER BY branch, transaction_count DESC
    LIMIT 20;
    """
    
    fallback_result = pd.read_sql(fallback_query, engine_mysql)
    print("Fallback: Payment Method Usage by Branch (Top 20):")
    display(fallback_result)

❌ Missing columns for Q7: ['branch']
Available columns: ['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity', 'date', 'time', 'payment_method', 'rating', 'profit_margin', 'total']
❌ Error with Q7 query: Required columns missing: ['branch']
Let's try a simpler approach...
Fallback: Payment Method Usage by Branch (Top 20):

     branch payment_method  transaction_count
0   WALM001        Ewallet                 45
1   WALM001    Credit card                 29
2   WALM002        Ewallet                 37
3   WALM002    Credit card                 26
4   WALM002           Cash                  2
5   WALM003    Credit card                115
6   WALM003           Cash                 56
7   WALM003        Ewallet                 15
8   WALM004        Ewallet                 44
9   WALM004    Credit card                 14
10  WALM004           Cash                  2
11  WALM005        Ewallet                 56
12  WALM005    Credit card                 19
13  WALM005           Cash                  9
14  WALM006        Ewallet                 50
15  WALM006    Credit card                 19
16  WALM006           Cash                  2
17  WALM007        Ewallet                 52
18  WALM007    Credit card                 13
19  WALM007           Cash                  5

## Q8: Analyze Sales Shifts Throughout the Day

**Business Question:** How many transactions occur in each shift (Morning, Afternoon, Evening) across branches?

**Purpose:** Manage staff shifts and stock replenishment schedules, especially during high-sales periods.

In [47]:
# Q8: Sales Shifts Throughout the Day
query_q8 = """
SELECT
    branch,
    CASE 
        WHEN HOUR(TIME(time)) < 12 THEN 'Morning'
        WHEN HOUR(TIME(time)) BETWEEN 12 AND 17 THEN 'Afternoon'
        ELSE 'Evening'
    END AS shift,
    COUNT(*) AS num_invoices
FROM walmart
GROUP BY branch, shift
ORDER BY branch, num_invoices DESC;
"""

result_q8 = pd.read_sql(query_q8, engine_mysql)
print("Q8 Results: Sales Shifts Throughout the Day")
display(result_q8)

# Analysis
print("\nKey Insights:")
branches = result_q8['branch'].unique()
shifts = result_q8['shift'].unique()
print(f"• Number of branches: {len(branches)}")
print(f"• Shifts analyzed: {', '.join(shifts)}")

# Find busiest shift per branch
for branch in branches:
    branch_data = result_q8[result_q8['branch'] == branch]
    busiest = branch_data.iloc[0]  # Already sorted by num_invoices DESC
    print(f"• Branch {branch}: Busiest during {busiest['shift']} ({busiest['num_invoices']} transactions)")

# Overall shift performance
shift_totals = result_q8.groupby('shift')['num_invoices'].sum().sort_values(ascending=False)
print(f"\n• Overall busiest shift: {shift_totals.index[0]} ({shift_totals.iloc[0]} total transactions)")

Q8 Results: Sales Shifts Throughout the Day

      branch      shift  num_invoices
0    WALM001  Afternoon            36
1    WALM001    Evening            30
2    WALM001    Morning             8
3    WALM002  Afternoon            29
4    WALM002    Evening            21
..       ...        ...           ...
295  WALM099    Morning            40
296  WALM099    Evening            32
297  WALM100  Afternoon            24
298  WALM100    Morning            19
299  WALM100    Evening            19

[300 rows x 3 columns]

Key Insights:
• Number of branches: 100
• Shifts analyzed: Afternoon, Evening, Morning
• Branch WALM001: Busiest during Afternoon (36 transactions)
• Branch WALM002: Busiest during Afternoon (29 transactions)
• Branch WALM003: Busiest during Afternoon (95 transactions)
• Branch WALM004: Busiest during Afternoon (27 transactions)
• Branch WALM005: Busiest during Evening (35 transactions)
• Branch WALM006: Busiest during Afternoon (33 transactions)
• Branch WALM007: Busiest during Evening (33 transactions)
• Branch WALM008: Busiest during Evening (30 transactions)
• Branch WALM009: Busiest during Afternoon (112 transactions)
• Branch WALM010: Busiest during Afternoon (33 transactions)
• Branch WALM011: Busiest during Afternoon (36 transactions)
• Branch WALM012: Busiest during Evening (36 transactions)
• Branch WALM013: Busiest during Afternoon (28 transactions)
• Branch WALM014: Busiest during Evening (22 transactions)
• Branch WALM015: Busiest during Afternoon (33 transactions)
• Branch WALM016: Busiest during Afternoon (36 transactions)
• Branch WALM017: Busiest during Afternoon (33 transactions)
• Branch WALM018: Busiest during Afternoon (30 transactions)
• Branch WALM019: Busiest during Afternoon (41 transactions)
• Branch WALM020: Busiest during Afternoon (37 transactions)
• Branch WALM021: Busiest during Afternoon (33 transactions)
• Branch WALM022: Busiest during Afternoon (37 transactions)
• Branch WALM023: Busiest during Afternoon (35 transactions)
• Branch WALM024: Busiest during Afternoon (32 transactions)
• Branch WALM025: Busiest during Afternoon (78 transactions)
• Branch WALM026: Busiest during Afternoon (36 transactions)
• Branch WALM027: Busiest during Evening (35 transactions)
• Branch WALM028: Busiest during Evening (38 transactions)
• Branch WALM029: Busiest during Afternoon (98 transactions)
• Branch WALM030: Busiest during Afternoon (107 transactions)
• Branch WALM031: Busiest during Evening (25 transactions)
• Branch WALM032: Busiest during Afternoon (75 transactions)
• Branch WALM033: Busiest during Evening (24 transactions)
• Branch WALM034: Busiest during Evening (29 transactions)
• Branch WALM035: Busiest during Afternoon (85 transactions)
• Branch WALM036: Busiest during Afternoon (31 transactions)
• Branch WALM037: Busiest during Afternoon (28 transactions)
• Branch WALM038: Busiest during Afternoon (98 transactions)
• Branch WALM039: Busiest during Afternoon (28 transactions)
• Branch WALM040: Busiest during Evening (28 transactions)
• Branch WALM041: Busiest during Evening (32 transactions)
• Branch WALM042: Busiest during Afternoon (30 transactions)
• Branch WALM043: Busiest during Afternoon (33 transactions)
• Branch WALM044: Busiest during Afternoon (32 transactions)
• Branch WALM045: Busiest during Afternoon (41 transactions)
• Branch WALM046: Busiest during Afternoon (94 transactions)
• Branch WALM047: Busiest during Evening (33 transactions)
• Branch WALM048: Busiest during Evening (37 transactions)
• Branch WALM049: Busiest during Evening (29 transactions)
• Branch WALM050: Busiest during Afternoon (75 transactions)
• Branch WALM051: Busiest during Afternoon (32 transactions)
• Branch WALM052: Busiest during Afternoon (34 transactions)
• Branch WALM053: Busiest during Afternoon (31 transactions)
• Branch WALM054: Busiest during Afternoon (78 transactions)
• Branch WALM055: Busiest during Afternoon (88 transactions)
• Branch WALM056: Busiest during Afternoon (76 transactions)
• Branch WALM057: Busiest during Afternoon (29 transactions)
• Branch WALM058: Busiest during Afternoon (113 transactions)
• Branch WALM059: Busiest during Afternoon (34 transactions)
• Branch WALM060: Busiest during Afternoon (37 transactions)
• Branch WALM061: Busiest during Afternoon (31 transactions)
• Branch WALM062: Busiest during Afternoon (39 transactions)
• Branch WALM063: Busiest during Afternoon (34 transactions)
• Branch WALM064: Busiest during Afternoon (29 transactions)
• Branch WALM065: Busiest during Afternoon (78 transactions)
• Branch WALM066: Busiest during Afternoon (38 transactions)
• Branch WALM067: Busiest during Afternoon (34 transactions)
• Branch WALM068: Busiest during Afternoon (28 transactions)
• Branch WALM069: Busiest during Afternoon (95 transactions)
• Branch WALM070: Busiest during Afternoon (36 transactions)
• Branch WALM071: Busiest during Afternoon (31 transactions)
• Branch WALM072: Busiest during Afternoon (36 transactions)
• Branch WALM073: Busiest during Afternoon (84 transactions)
• Branch WALM074: Busiest during Afternoon (97 transactions)
• Branch WALM075: Busiest during Afternoon (103 transactions)
• Branch WALM076: Busiest during Afternoon (32 transactions)
• Branch WALM077: Busiest during Afternoon (31 transactions)
• Branch WALM078: Busiest during Afternoon (36 transactions)
• Branch WALM079: Busiest during Afternoon (35 transactions)
• Branch WALM080: Busiest during Afternoon (33 transactions)
• Branch WALM081: Busiest during Afternoon (33 transactions)
• Branch WALM082: Busiest during Afternoon (94 transactions)
• Branch WALM083: Busiest during Afternoon (37 transactions)
• Branch WALM084: Busiest during Afternoon (99 transactions)
• Branch WALM085: Busiest during Evening (33 transactions)
• Branch WALM086: Busiest during Afternoon (82 transactions)
• Branch WALM087: Busiest during Afternoon (95 transactions)
• Branch WALM088: Busiest during Afternoon (37 transactions)
• Branch WALM089: Busiest during Afternoon (86 transactions)
• Branch WALM090: Busiest during Evening (36 transactions)
• Branch WALM091: Busiest during Evening (31 transactions)
• Branch WALM092: Busiest during Afternoon (31 transactions)
• Branch WALM093: Busiest during Afternoon (33 transactions)
• Branch WALM094: Busiest during Afternoon (35 transactions)
• Branch WALM095: Busiest during Afternoon (40 transactions)
• Branch WALM096: Busiest during Afternoon (34 transactions)
• Branch WALM097: Busiest during Evening (27 transactions)
• Branch WALM098: Busiest during Evening (32 transactions)
• Branch WALM099: Busiest during Afternoon (93 transactions)
• Branch WALM100: Busiest during Afternoon (24 transactions)

• Overall busiest shift: Afternoon (4636 total transactions)

## Q9: Identify Branches with Highest Revenue Decline Year-Over-Year

**Business Question:** Which branches experienced the largest decrease in revenue compared to the previous year?

**Purpose:** Detect branches with declining revenue to understand possible local issues and create strategies to boost sales or mitigate losses.

In [52]:
# Q9: Branches with Highest Revenue Decline Year-Over-Year (Fixed with error handling)

# First check date format and available years in data
try:
    # Check sample dates to understand format
    date_sample_q9 = pd.read_sql("SELECT DISTINCT date FROM walmart ORDER BY date LIMIT 10", engine_mysql)
    print("Sample dates in data:")
    display(date_sample_q9)
    
    # Check if we have required columns
    columns_check = pd.read_sql("SHOW COLUMNS FROM walmart", engine_mysql)
    available_cols = columns_check['Field'].tolist()
    print(f"✓ Available columns: {available_cols}")
    
    # Check if we have branch column, if not use an alternative grouping
    if 'branch' not in available_cols:
        print("⚠️ 'branch' column not found. Using city as alternative grouping...")
        branch_col = 'city' if 'city' in available_cols else 'invoice_id'
        group_name = 'City' if branch_col == 'city' else 'Invoice Group'
    else:
        branch_col = 'branch'
        group_name = 'Branch'
    
    print(f"✓ Using '{branch_col}' for grouping analysis")
    
    # Use a query that avoids % formatting issues by using LIKE with different patterns
    query_q9 = f"""
    SELECT 
        r2022.{branch_col} AS location,
        r2022.revenue AS last_year_revenue,
        r2023.revenue AS current_year_revenue,
        ROUND(((r2022.revenue - r2023.revenue) / r2022.revenue) * 100, 2) AS revenue_decrease_ratio
    FROM (
        SELECT 
            {branch_col},
            SUM(total) AS revenue
        FROM walmart
        WHERE date REGEXP '2022|/22$'
        GROUP BY {branch_col}
        HAVING SUM(total) > 0
    ) r2022
    INNER JOIN (
        SELECT 
            {branch_col},
            SUM(total) AS revenue
        FROM walmart
        WHERE date REGEXP '2023|/23$'
        GROUP BY {branch_col}
        HAVING SUM(total) > 0
    ) r2023 ON r2022.{branch_col} = r2023.{branch_col}
    WHERE r2022.revenue > r2023.revenue
    ORDER BY revenue_decrease_ratio DESC
    LIMIT 5;
    """

    result_q9 = pd.read_sql(query_q9, engine_mysql)
    print(f"Q9 Results: {group_name}s with Highest Revenue Decline Year-Over-Year")
    display(result_q9)

    # Analysis
    print("\nKey Insights:")
    if len(result_q9) > 0:
        print(f"• {len(result_q9)} {group_name.lower()}s experienced revenue decline")
        for i, row in result_q9.iterrows():
            decline_amount = row['last_year_revenue'] - row['current_year_revenue']
            print(f"• {group_name} {row['location']}: {row['revenue_decrease_ratio']}% decline (${decline_amount:,.2f} loss)")
        
        total_decline = (result_q9['last_year_revenue'] - result_q9['current_year_revenue']).sum()
        print(f"• Total revenue loss across declining {group_name.lower()}s: ${total_decline:,.2f}")
    else:
        print(f"• No {group_name.lower()}s experienced revenue decline year-over-year")
        print("• This could indicate overall business growth, limited data years, or data quality issues")

except Exception as e:
    print(f"❌ Error with Q9 query: {e}")
    print("Let's try a simpler year-over-year analysis...")
    
    # Fallback: Simple revenue comparison by year - avoid % formatting issues
    # Check what grouping column we can use
    columns_check = pd.read_sql("SHOW COLUMNS FROM walmart", engine_mysql)
    available_cols = columns_check['Field'].tolist()
    
    if 'branch' in available_cols:
        group_col = 'branch'
    elif 'city' in available_cols:
        group_col = 'city'
    else:
        group_col = "'All Locations' as location"
    
    fallback_query = f"""
    SELECT 
        {group_col},
        CASE 
            WHEN date REGEXP '2022|/22$' THEN '2022'
            WHEN date REGEXP '2023|/23$' THEN '2023'
            ELSE 'Other'
        END AS year_group,
        SUM(total) AS total_revenue,
        COUNT(*) AS transaction_count
    FROM walmart
    WHERE date REGEXP '2022|/22$|2023|/23$'
    GROUP BY {group_col}, year_group
    ORDER BY {group_col}, year_group;
    """
    
    try:
        fallback_result = pd.read_sql(fallback_query, engine_mysql)
        print("Fallback: Revenue by Location and Year:")
        display(fallback_result)
    except Exception as fallback_error:
        print(f"❌ Fallback query also failed: {fallback_error}")
        print("Showing basic revenue analysis instead:")
        
        basic_query = """
        SELECT 
            SUM(total) AS total_revenue,
            COUNT(*) AS total_transactions,
            AVG(total) AS avg_transaction_value
        FROM walmart;
        """
        basic_result = pd.read_sql(basic_query, engine_mysql)
        display(basic_result)

Sample dates in data:

       date
0  01/01/19
1  01/01/20
2  01/01/21
3  01/01/23
4  01/02/19
5  01/02/22
6  01/02/23
7  01/03/19
8  01/03/20
9  01/03/21

✓ Available columns: ['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity', 'date', 'time', 'payment_method', 'rating', 'profit_margin', 'total']
⚠️ 'branch' column not found. Using city as alternative grouping...
✓ Using 'invoice_id' for grouping analysis
Q9 Results: Invoice Groups with Highest Revenue Decline Year-Over-Year

Empty DataFrame
Columns: [location, last_year_revenue, current_year_revenue, revenue_decrease_ratio]
Index: []

Key Insights:
• No invoice groups experienced revenue decline year-over-year
• This could indicate overall business growth, limited data years, or data quality issues

## 🎯 Business Analysis Summary

The above analysis provides comprehensive insights into Walmart's sales data across 9 key business dimensions:

### 🔍 Key Findings Overview:
1. **Payment Methods**: Understanding customer payment preferences for optimization
2. **Category Performance**: Identifying top-rated categories by branch for targeted marketing
3. **Peak Days**: Optimizing staffing and inventory based on busiest days per branch
4. **Sales Volume**: Tracking item quantities sold by payment method
5. **Regional Preferences**: Category ratings vary by city, enabling localized strategies
6. **Profitability**: Ranking categories by total profit for strategic focus
7. **Branch Preferences**: Payment method preferences differ by branch location
8. **Daily Operations**: Transaction patterns across morning, afternoon, and evening shifts
9. **Performance Trends**: Identifying branches with revenue declines for intervention

### Next Steps:
- **Operational**: Use shift analysis for staff scheduling and inventory management
- **Marketing**: Leverage category ratings for targeted promotions by location
- **Financial**: Focus on high-profit categories while addressing declining branches
- **Customer Experience**: Optimize payment systems based on regional preferences

### 🔄 Reproducibility:
All SQL queries are stored in `MySQL Queries.sql` for easy reuse, modification, and integration with other BI tools. The Python code above can be run independently or integrated into automated reporting pipelines.